<div class="row">
  <div class="col-md-6">
      <div class="card">
          <div class="card-header">
              Tambah Master Barang
          </div>
          <div class="card-body">
              <form [formGroup] = "form" class="form-row">
                  <div class="form-group col-6">
                    <label for="nama-barang">Nama Barang</label>
                    <input autocomplete="off" formControlName="nama_barang" type="text" class="form-control" name="nama_barang" id="nama-barang" aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">Help text</small>
                  </div>
                  <div class="form-group col-6">
                    <label for="nama-barang">Kode Barang</label>
                    <input autocomplete="off" formControlName="kode_barang" type="text" class="form-control" name="nama_barang" id="nama-barang" aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">Help text</small>
                  </div>
                  <div class="form-group col-6">
                    <label for="brand">Brand</label>
                    <input autocomplete="off" formControlName="brand" type="text" class="form-control" name="nama_barang" id="brand" aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">Help text</small>
                  </div>
                  <div class="form-group col-6">
                    <label for="nama-barang">Satuan</label>
                    <input autocomplete="off" formControlName="satuan" type="text" class="form-control" name="nama_barang" id="nama-barang" aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">Help text</small>
                  </div>
              </form>
          </div>
          <div class="card-footer">
              <button class="btn btn-success btn-block" (click) = "onSubmit()">Simpan</button>
          </div>
      </div>
  </div>
</div>