<div class="container-fluid pt-3">
    <div class="row mb-3">
        <div class="col-sm-8">
            <div class="card p-0 mb-1">
                <div class="card-body p-0">
                    <table class="table m-0">
                        <thead>
                            <tr class="text-center">
                                <th scope="col" class="text-center" style="width: 50px">#</th>
                                <th scope="col" class="text-left">Produk</th>
                                <th scope="col">QTY</th>
                                <th scope="col" class="text-right">Harga Satuan</th>
                                <th scope="col" class="text-right">Subtotal</th>
                                <th scope="col" class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="!items.length">
                                <td colspan="6">Tidak ada pesanan.</td>
                            </tr>
                            <tr *ngFor="let item of items; let i=index">
                                <th style="vertical-align: middle" scope="row" style="width: 50px">{{ i+1 }}</th>
                                <td style="vertical-align: middle">{{item.produk}}</td>
                                <td style="vertical-align: middle" class="mx-auto">
                                    <input value="{{item.qty}}" class="form-control mx-auto" type="number" style="width: 80px"/>
                                </td>
                                <td class="text-right" style="vertical-align: middle">{{item.harga | number}}</td>
                                <td class="text-right" style="vertical-align: middle">{{item.harga*item.qty | number}}</td>
                                <td style="vertical-align: middle" class="text-center">
                                    <button class="btn btn-danger btn-sm" (click)="rmItem(i)"><i class="icon-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card pt-0">
                <div class="card-body">

                </div>
            </div>
        </div>

        <div class="col-sm-4" (click)="setFocus()">
            <div class="card mb-1">
                <div class="card-header">
                    Input Barang
                </div>
                <div class="card-body">
                    <form>
                        <div id="qty-area">
                            <h5 class="text-center">
                                QTY
                            </h5>
                            <div class="row mx-1">
                                <div *ngFor="let q of qtys" class="col-md-3 p-1"><button style="width: 100%" class="btn m-0" [ngClass]="{'btn-primary': q==qty_selected, 'btn-secondary': q!=qty_selected}" (click)="setQty(q)">{{q}}</button></div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group mx-1">
                            <label>Kode Barang</label>
                            <input #barcode class="form-control" name="barcode" (change)="barcodeChange($event)" (ngModel)="barcode" autocomplete="off" autofocus/>
                        </div>
                    </form>
                </div>
            </div> <!-- End Card -->
            <div class="card mb-1">
                <div class="card-body">
                    <h5 class="card-title">Ringkasan</h5>
                    <div class="ringkasa-area text-right">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="float-left">Total Pesanan</span>
                                <span class="float-right">{{items.length}}</span>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item">
                                <span class="float-left">Total Harga</span>
                                <span class="float-right"></span>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary btn-block">Bayar</button>
        </div>
    </div>
</div>